h1.heading {
    color: #585755;
    font-size: 45px;
    border-bottom: 2px solid #f9f9f9;
    margin-top: 40px;
}

.container {
    width: 500px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px -1px #bbb;
    padding: 20px;
}
button.Btn {
    padding: 6px 41px;
    background: #f1f1f1;
    border: 1px solid #dddd;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    margin-right: 5px;
}

span.text {
    font-size: 40px;
    margin: 16px 40px;
    color: #ff0c00;
    font-weight: bolder;
}

button.Btn:hover {
    background: #105441;
    color: white;
}